.abc {
width:500px;
border-style:solid;

}
#inputKilograms{
margin-left:100px;

}
#outputPounds{
margin-left:120px;

}
#outputGrams{
margin-left:122px;

}
#outputMilli{
margin-left:85px;

}
#outputUS{
margin-left:115px;

}
#outputOunce{
margin-left:120px;

}
#btn{
margin-left:50px;
}
.hed{
color:white;
background-color:red;
}
.ppp{
color:white;
background-color:blue;

}
